<!DOCTYPE html>
<html>
<head>
	<title>成绩</title>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>

	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row clearfix" id="platform">
					<div class="col-md-3 column">
						<div class="jumbotron" style="background-color: rgb(235, 255, 235); margin-bottom: 0px; padding: 15px">
							<table id='avg' style="width: 250px;">
								<tr><th>学期加权</th><th>含公选</th><th>不含公选</th></tr>
							</table>
						</div>
					</div>
					<div id="score" class="col-md-9 column">
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function(){
			$("#platform").css('visibility', 'hidden');
			$.ajax({
				'url': '/api/v1/score',
				'method': 'get',
				'success': function(result) {
					switch (result.code) {
						case 6:
							window.location.assign(result.data);
							return false;
						case 1:
							window.open('/sign', '_blank');
							return false;
						case 0:
							break;
						case 2:
							//no break;
						default:
							alert(result.message + "\n错误代码：" + result.code);
							return false;
					}
					result = result.data;
					term = result.avg.term;
					year = result.avg.year;
					var tmpStr = '';
					for (key in term) {
						tmpStr = tmpStr + '<tr><td>' + key + '</td><td>' + term[key].t + '</td><td>' + term[key].f + '</td></tr>';
					}
					$('#avg').append(tmpStr);
					$('#avg').append('<tr><th>学年加权</th><th>含公选</th><th>不含公选</th></tr>');
					for (key in year) {
						$('#avg').append('<tr><td>' + key + '</td><td>' + year[key].t + '</td><td>' + year[key].f + '</td></tr>');
					}
					$('#avg').append('<tr><th rowspan="2">总加权</th><th>含公选</th><th>不含公选</th></tr>');
					$('#avg').append('<tr><td>' + result.avg.all.t + '</td><td>' + result.avg.all.f + '</td></tr>');
					term = result.term;
					var scoreStr = '';
					for (key in term) {
						scoreStrTmp = '<hr><label>' + key + '</label><table class="table">';
						if (term[key].all != null) {
							scoreStrTmp += '<thead><tr><th>课程名称（总成绩）</th><th style="width:60px; text-align:center">成绩</th><th style="width:60px; text-align:center">学分</th></tr></thead><tbody>';
							for (scoreKey in term[key].all) {
								scoreStrTmp += '<tr><td>' + term[key].all[scoreKey].name + '</td><td style="text-align:center">' + term[key].all[scoreKey].score + '</td><td style="text-align:center">' + term[key].all[scoreKey].num + '</td></tr>';
							}
							scoreStrTmp += '</tbody>';
						}
						if (term[key].item != null) {
							scoreStrTmp += '<thead><tr><th>课程名称（阶段成绩）</th><th style="width:60px; text-align:center">成绩</th><th style="width:60px; text-align:center">类型</th></tr></thead><tbody>';
							for (scoreKey in term[key].item) {
								switch(term[key].item[scoreKey].type) {
									case 'itm1':
										term[key].item[scoreKey].type = '阶段1';
										break;
									case 'itm2':
										term[key].item[scoreKey].type = '阶段2';
										break;
									case 'itm3':
										term[key].item[scoreKey].type = '阶段3';
										break;
									case 'fin':
										term[key].item[scoreKey].type = '期末';
										break;
									case 'mid':
										term[key].item[scoreKey].type = '期中';
										break;
									case 'nml':
										term[key].item[scoreKey].type = '平时';
										break;
								}
								scoreStrTmp += '<tr><td>' + term[key].item[scoreKey].name + '</td><td style="text-align:center">' + term[key].item[scoreKey].score + '</td><td style="text-align:center">' + term[key].item[scoreKey].type + '</td></tr>';
							}
							scoreStrTmp += '</tbody>';
						}
						scoreStrTmp += '</tbody></table>';
						scoreStr = scoreStrTmp + scoreStr;
					}
					$("#score").append(scoreStr);

					$("#platform").css('visibility', 'visible');
				},
				'error': function(err) {
					console.log(err);
				}
			});
		});
	</script>
</body>
</html>
