<!DOCTYPE html>
<html>
<head>
	<title>成绩</title>
	<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-1.11.3.js"></script>

	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-3 column">
						<div class="jumbotron" style="background-color: rgb(235, 255, 235); margin-bottom: 0px; padding: 15px">
							<table style="width: 250px;">
								<tr><th>学期</th><th>加权<br>(含公选)</th><th>加权<br>(不含公选)</th></tr>
								<tr><td></td><td></td><td></td>
								<tr><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th></tr>
								<tr><th>学年</th><th>加权<br>(含公选)</th><th>加权<br>(不含公选)</th></tr>
								<tr><td></td><td></td><td></td>
							</table>
							<br>
							<span style="font-size:16px">总加权：<big></big></span>
						</div>
					</div>
					<div class="col-md-9 column">
						<hr>
						<label></label>
						<table class="table">
							<thead>
								<tr>
									<th>课程名称（阶段成绩）</th>
									<th>阶1</th>
									<th>阶2</th>
									<th>阶3</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
						<hr>
						<label></label>
						<table class="table">
							<thead>
								<tr>
									<th>课程名称（总成绩）</th>
									<th>成绩</th>
									<th>学分</th>
									<th>属性</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function(){
			$.ajax({
				'url': '/api/v1/score',
				'method': 'get',
				'success': function(result) {
					switch (result.code) {
						case 6:
							window.location.assign(result.data);
							return false;
						case 1:
							window.location.assign('/sign');
							return false;
						case 0:
							break;
						case 2:
							//no break;
						default:
							alert(result.message + "\n错误代码：" + result.code);
							return false;
					}
				},
				'error': function(err) {
					console.log(err);
				}
			});
		});
	</script>
</body>
</html>
